In [16]:
from journal import Journal

In [18]:
FILENAME = "journal.csv"
# Welcome user
print("Welcome to the Journaling application!")

journal_obj = Journal.read(FILENAME)

response = input("\nWould you like to add a new entry? (y/n)\n")
while (response.capitalize() != 'N') and (response.capitalize() != "Y"):
    response = input("\nUnacceptable response, please respond with 'y' to add a new entry or 'n' not to:\n")

while response.capitalize() == 'Y':
    
    journal_obj.add_entry()
    

    response = input("\nWould you like to add another entry?")

    while (response.capitalize() != 'N') and (response.capitalize() != "Y"):
        response = input("Unacceptable response, please respond with 'y' to add a new entry or 'n' not to:\n")

# write out to file
journal_obj.write(FILENAME)
print(journal_obj)

Welcome to the Journaling application!

Would you like to add a new entry? (y/n)
n

Journal object is empty: dataframe attribute is Nonetype

<journal.Journal object at 0x000002289334B610>

In [13]:
k = journal_obj.temp_entry

In [14]:
k

In [15]:
journal.dataframe

,date,time,sleep_location,fell_asleep_time,wake_up_time,sleep_quality
0,2021-11-04,2021-11-04 15:41:06.547884,Home,12:30:00,07:15:00,Good
0,2021-11-04,2021-11-04 15:41:27.189437,Apartment,08:15:00,07:50:00,Bad